<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007388518242-aa0ilufjker31gapaqpvo2e9l6039hjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007388518242-aa0ilufjker31gapaqpvo2e9l6039hjq</string>
	<key>API_KEY</key>
	<string>AIzaSyAkJPmToWuAFHN_JOU8u9fHiOjEnUSoYVk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007388518242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>pint-77ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>pint-77ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007388518242:ios:550783cff9ab5c71bcae3b</string>
</dict>
</plist>